extends layout

block content
  #topBar
  #container
    #videoOverlay
      .section
        h3
          | Connected to
          span.location.country
          span.location.city
          span.latlng
        span#map
        #changeVideoControls
          span.arrowLeft Go left
          a.videoOption Change video
          span.rightArrow Go right
      .section.weather
        span.weatherLabel 12/9°C
        span.temp 12/9°C
      .section.time
        span.hours 15
        span.mins 22
    #card
      #local
        video#localVideo(autoplay='autoplay')
      #remote
        video#remoteVideo(autoplay='autoplay')
        #mini
          video#miniVideo(autoplay='autoplay')
    #footer
    a(href='http://www.webrtc.org')
      img#logo(alt='WebRTC', src='/images/webrtc_black_20p.png')
    span test