extends layout

block content
  #topBar
    img(src='lbi-small.png')
    span.bar-title
      | Windows to the World
    a.videoOption(href="#", onclick="parent.window.location='http://localhost:3000';return false;") Change location
    a.videoOverlays#sepia(href="#") Sepia
    a.videoOverlays#greyScale(href="#") Greyscale
    a.videoOverlays#invert(href="#") Invert
    span.videoOverlays
      | Overlays: 

  #container
    #videoOverlay
      .section
        h3
          | Connected to
          span.location.country
          span.location.city
          span.latlng
        span#map
        #changeVideoControls
      .section.weather
        span.weatherLabel 12/9°C
        span.temp 12/9°C
    #card
      #local
        video#localVideo.fold(autoplay='autoplay')
      #remote
        video#remoteVideo(autoplay='autoplay')
        #mini
          video#miniVideo(autoplay='autoplay')
    #footer
    span test